

<div>


    <div class="p-grid">

        <div class=" left-filter p-col-3">
            <p-divider>Calendar</p-divider>
            <div style="padding-left: 10px;">
                <div class="calendar-filter calendar-today" (click)="todayFilter()" >
                    <i class="pi pi-calendar"></i>
                    <label>Today</label>
                </div>
                <div class="calendar-filter calendar-current-week " (click)="currentWeek()" >
                    <i class="pi pi-calendar"></i>
                    <label>Current Week</label>
                </div>
                <div class="calendar-filter calendar-next-week" (click)="nextWeek()" >
                    <i class="pi pi-calendar"></i>
                    <label>Next Week</label>
                </div>
                <div *ngIf="filter.filterActive" class="calendar-filter calendar-next-week" (click)="clearFilter()" >
                    <i class="pi pi-calendar"></i>
                    <label>All</label>
                </div>
            </div>

            <p-divider>Flags</p-divider>
            <div style="padding-left: 10px;">
                <div class="calendar-filter calendar-today" >
                    <i class="pi pi-star"></i>
                    <label>Important</label>
                </div>
                <div class="calendar-filter calendar-current-week " >
                    <i class="pi pi-times-circle"></i>
                    <label>Overdue</label>
                </div>

            </div>

            <div *ngIf="categories">
                <p-divider>Kategorien</p-divider>
                <div style="padding-left: 10px;">
                    <div class="calendar-filter" *ngFor="let cat of categories">
                            <p-checkbox [(ngModel)]="cat.active"
                                        (onChange)="categoryFilter($event, cat)"
                                        [binary]="true"></p-checkbox>
                            <label style="">
                                {{cat.name}}
                            </label>
                    </div>
                </div>
            </div>

        </div>

        <div class="p-col-12 p-sm-12 p-md-9" style="margin-bottom: 150px;">

            <p-divider> ({{response?.list?.length}}) TODOS</p-divider>

            <div style="margin-bottom: 20px;">
                <app-todo-week-line (selected)="dateFilter($event)" ></app-todo-week-line>
            </div>

            <div *ngIf="filterActive" #filterview style="font-size: 3em;">
                <p-tag [style]="{size:'2em'}" severity="danger" icon="pi pi-times" value="FILTER" (click)="clearFilter()" ></p-tag>
            </div>

            <div class="p-grid">
                <div class="p-col-12 p-sm-12 p-md-4 p-xl-4"
                     *ngFor="let t of filteredViewList"
                     style="margin-bottom: 10px;">
                    <todo-todoitem [todo]="t" (onDone)="done($event.id)"></todo-todoitem>
                </div>
            </div>

        </div>


    </div>


</div>


    <app-create-new-todo-dialog #createDialog  [(visible)]="showDialog" ></app-create-new-todo-dialog>

    <p-speedDial
        direction="up"
        radius="80" type="semi-cirlce"
        [style]="{ position:'fixed', bottom: '55px', left: 'calc(50% - 2em)' }" [model]="buttons" ></p-speedDial>

    <p-sidebar [(visible)]="showFilter"
               [style]="{width:'400px'}"
               position="left" [modal]="true">
        <div class="">
            <p-divider>Calendar</p-divider>
            <div style="padding-left: 10px;">
                <div class="calendar-filter calendar-today" >
                    <i class="pi pi-calendar"></i>
                    <label>Today</label>
                </div>
                <div class="calendar-filter calendar-current-week " >
                    <i class="pi pi-calendar"></i>
                    <label>Current Week</label>
                </div>
                <div class="calendar-filter calendar-next-week" >
                    <i class="pi pi-calendar"></i>
                    <label>Next Week</label>
                </div>
            </div>

            <p-divider>Flags</p-divider>
            <div style="padding-left: 10px;">
                <div class="calendar-filter calendar-today" >
                    <i class="pi pi-star"></i>
                    <label>Important</label>
                </div>
                <div class="calendar-filter calendar-current-week " >
                    <i class="pi pi-times-circle"></i>
                    <label>Overdue</label>
                </div>

            </div>

            <div *ngIf="response">
                <p-divider>Kategorien</p-divider>
                <div style="padding-left: 10px;">
                    <div class="calendar-filter" *ngFor="let cat of allCategories">
                        <p-checkbox [binary]="true"></p-checkbox>
                        <label style="">
                            {{cat}}
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </p-sidebar>
