<div style="display: none">
  <ul>
    <li *ngFor="let l of list?.list">
      <div style="float: left; padding: 10px;">
        <div style="text-align: center;">
          <label class="page-header" style="text-align: center;">
            {{l?.dt * 1000 | date : 'HH:mm'}}
          </label>
        </div>

        <div style="text-align: center">
          <label *ngFor="let w of l?.weather" style="font-size : 2em; text-align: center" title="{{w?.id}}">
            <span *ngIf="w?.id == 800" style="color:darkorange" class="wi wi-day-sunny"></span>
            <span *ngIf="w?.id == 801" class="wi wi-day-cloudy"></span>
            <span *ngIf="w?.id >= 802 && w?.id <= 804" class="wi wi-cloudy"></span>

            <span *ngIf="w?.id >= 500 && w?.id < 600" class="wi wi-showers"></span>
            <span *ngIf="w?.id >= 600 && w?.id < 700" class="wi wi-snow"></span>
            <span *ngIf="w?.id >= 300 && w?.id < 400" class="wi wi-day-rain"></span>

          </label>
        </div>

        <div style="text-align: center">
          <label>
            <span style="font-size: 1em;" class="wi wi-thermometer"></span>
            {{l?.main.temp}}
            <span class="wi wi-celsius"></span>
          </label>
        </div>

      </div>
    </li>
  </ul>
  <div style="clear: both"></div>


</div>

<p-carousel headerText="Wetter" dot [value]="list?.list" numVisible="3" dotsContainerClass="hide-dots">
  <ng-template let-l pTemplate="item">
    <div style="float: left; padding: 10px; text-align: center">
      <div style="text-align: center;">
        <label class="page-header" style="text-align: center;">
          {{l?.dt * 1000 | date : 'HH:mm'}}
        </label>
      </div>

      <div style="text-align: center">
        <label *ngFor="let w of l?.weather" style="font-size : 2em; text-align: center" title="{{w?.description}}">
          <span *ngIf="w?.id == 800" style="color:darkorange" class="wi wi-day-sunny"></span>
          <span *ngIf="w?.id == 801" class="wi wi-day-cloudy"></span>
          <span *ngIf="w?.id >= 802 && w?.id <= 804" class="wi wi-cloudy"></span>

          <span *ngIf="w?.id >= 500 && w?.id < 600" class="wi wi-showers"></span>
          <span *ngIf="w?.id >= 600 && w?.id < 700" class="wi wi-snow"></span>
          <span *ngIf="w?.id >= 300 && w?.id < 400" class="wi wi-day-rain"></span>

        </label>
      </div>

      <div style="text-align: center">
        <label>
          <span style="font-size: 1em;" class="wi wi-thermometer"></span>
          {{l?.main.temp}}
          <span class="wi wi-celsius"></span>
        </label>
      </div>

    </div>
  </ng-template>
</p-carousel>


