<div *ngIf="pageError">
    <p-message severity="error" [style]="{width:'100%'}" text="Could not connect to server. Only offline supporting modules are available"></p-message>
    <div class="p-grid">
        <div class="p-col-4" *ngFor="let m of modules | activeModule: true">
            <div *ngIf="m.accessible && m.offlineSupport">
                <p-card (click)="m.action()" >
                    <div style="text-align: center">
                        <i style="font-size: 4.2em; color: #0D47A1" [class]="m.icon"></i>
                    </div>
                    <p-footer>
                        <button pButton
                                class="p-button-link"
                                style="width: 100%"
                                [label]="m.name"
                                (click)="m.action()"
                                [icon]="m.icon"></button>
                    </p-footer>
                </p-card>
            </div>
        </div>
    </div>




</div>

<div *ngIf="pagePending" style="text-align: center">
    <div class="p-grid">

        <div class="p-col-12">
            <p-skeleton width="95%" height="35px" styleClass="mb-2"></p-skeleton>
        </div>

        <div class="p-col-12 p-sm-12 p-md-8 p-xl-4">
            <p-skeleton width="100%" height="270px" styleClass="mr-2"></p-skeleton>
        </div>
        <div class="p-col-12 p-sm-12 p-md-8 p-xl-4">
            <p-skeleton width="100%" height="270px" styleClass="mr-2"></p-skeleton>
        </div>
        <div class="p-col-12 p-sm-12 p-md-8 p-xl-4">
            <p-skeleton width="100%" height="270px" styleClass="mr-2"></p-skeleton>
        </div>
        <div class="p-col-12 p-sm-12 p-md-8 p-xl-4">
            <p-skeleton width="100%" height="270px" styleClass="mr-2"></p-skeleton>
        </div>
        <div class="p-col-12 p-sm-12 p-md-8 p-xl-4">
            <p-skeleton width="100%" height="270px" styleClass="mr-2"></p-skeleton>
        </div>
        <div class="p-col-12 p-sm-12 p-md-8 p-xl-4">
            <p-skeleton width="100%" height="270px" styleClass="mr-2"></p-skeleton>
        </div>
    </div>
</div>


<div *ngIf="userData && pageReady" >

    <div class="p-grid">

        <div class="p-col-12">
            <div>
                <h3>{{greeting}}</h3>
            </div>
        </div>

        <div class="p-col-12">
            <p-divider></p-divider>
        </div>



        <div class="p-col-12" >

            <div class="p-grid  " >
                <div class="module-view p-col-12 p-sm-12 p-md-8 p-xl-4">
                    <p-card [style]="{height:'270px', background: '#1ea8ef', color: 'white'}">
                        <app-weather-overview></app-weather-overview>
                    </p-card>
                </div>
                <div class="module-view p-col-12 p-sm-12 p-md-4 p-xl-4" *ngFor="let m of modules | activeModule: false">
                        <p-card (click)="m.card.action()" [style]="{height:'270px'}" >
                            <div style="text-align: center">
                                <i *ngIf="m.icon && m.card && !m.card.image" style="font-size: 4.2em; color: #0D47A1" [class]="m.icon"></i>
                                <img style="width: 160px;" *ngIf="m.card?.image" [src]="m.card.image">
                            </div>
                            <p-footer>
                                <button pButton
                                        class="p-button-link"
                                        style="width: 100%"
                                        [label]="m.label"
                                        (click)="m.card.action()"></button>
                            </p-footer>
                        </p-card>
                </div>
            </div>

            <div class="p-grid"  >


            </div>
        </div>

</div>



<p-dialog [(visible)]="dashboard.showFuelDialog" [modal]="true" [responsive]="true" [style]="{minWidth:'800px'}" header="GAS STATIONS">
    <app-fuel-overview></app-fuel-overview>
</p-dialog>


