<div *ngIf="pageError">
    <p-message severity="error" [style]="{width:'100%'}" text="Could not connect to server. Only offline supporting modules are available"></p-message>
    <div class="p-grid">
        <div class="p-col-4" *ngFor="let m of modules | activeModule: true">
            <div *ngIf="m.accessible && m.offlineSupport">
                <p-card (click)="m.action()" >
                    <div style="text-align: center">
                        <i style="font-size: 4.2em; color: #0D47A1" [class]="m.icon"></i>
                    </div>
                    <p-footer>
                        <button pButton
                                class="p-button-link"
                                style="width: 100%"
                                [label]="m.name"
                                (click)="m.action()"
                                [icon]="m.icon"></button>
                    </p-footer>
                </p-card>
            </div>
        </div>
    </div>




</div>

<div *ngIf="pagePending" style="text-align: center">
    <p-progressSpinner></p-progressSpinner>
</div>

<div *ngIf="userData && pageReady" >

    <div class="p-grid">

        <div class="p-col-12">
            <div>
                <h3>{{greeting}}</h3>
            </div>
        </div>

        <div class="p-col-12">
            <p-divider></p-divider>
        </div>
        <div class="p-col-12" >

            <div class="p-grid">
                <div class="p-col-4" *ngFor="let m of modules | activeModule: false">
                        <p-card (click)="m.action()" >
                            <div style="text-align: center">
                                <i *ngIf="m.icon && !m.image" style="font-size: 4.2em; color: #0D47A1" [class]="m.icon"></i>
                                <img style="width: 160px;" *ngIf="m.image" [src]="m.image">
                            </div>
                            <p-footer>
                                <button pButton
                                        class="p-button-link"
                                        style="width: 100%"
                                        [label]="m.name"
                                        (click)="m.action()"></button>
                            </p-footer>
                        </p-card>
                </div>
            </div>

            <div class="p-grid"  >


            </div>
        </div>
        <div class="p-col-12">
            <p-divider></p-divider>
        </div>

        <div class="p-col-12">
            <button
                pButton
                label="GOOGLE"
                icon="pi pi-google"
                (click)="google.toGoogleLogin()">
            </button>
        </div>

        <div class="p-col-12 p-sm-6">
            <p-card>
                <app-fuel-overview></app-fuel-overview>
            </p-card>
        </div>
        <div class="p-col-12 p-sm-6">
            <div style="margin-bottom: 10px;">

            </div>

            <p-card>
                <app-weather-overview></app-weather-overview>
            </p-card>
        </div>


</div>
