


<p-dialog [(visible)]="visible"
          [style]="{width:'100%'}"
          header="NEW TODO"
          position="bottom"
          [modal]="true"
          (close)="visibleChange.emit(false)" >

    <div style="padding: 5px;">

        <div>
            <span class="p-float-label">
                <input id="float-input" [(ngModel)]="request.title" type="text" style="width: 100%;" pInputText>
                <label for="float-input">Title</label>
            </span>
        </div>

        <div class="mTop15">
            <span class="p-float-label">
                <p-calendar id="float-input-calendar" dateFormat="dd.mm.yy" locale="de_DE"
                            [style]="{width:'100%'}"
                        [(ngModel)]="request.due" appendTo="body" ></p-calendar>
                <label for="float-input-calendar">Due Date</label>
            </span>
        </div>

        <div class="mTop15">
            <span class="p-float-label">
                <input id="float-input-category" [(ngModel)]="request.category" type="text" style="width: 100%;" pInputText>
                <label for="float-input-category">Category</label>
            </span>
        </div>



        <div class="mTop15">
            <button
                pButton
                style="width: 100%;"
                (click)="save()"
                label="OK"></button>
        </div>

    </div>


</p-dialog>
