.richtig{
    color: green;
    font-weight: bold;;
}

.falsch{
    color: #C63737;
    font-weight: bold;;
}

.input-result{
    width: 100%;
    font-size: 1.2em;
    position: relative;
    top:-7px;
    text-align: center;
}
