<div class="p-grid">
    <div *ngFor="let a of aufgaben" class="p-sm-12 p-md-4" style="font-size: 2em;">

        <p-card>
            <div class="p-grid" style="font-size: 2em; text-align: center">
                <div class="p-col-2">{{a.operation1}}</div>
                <div class="p-col-2">{{a.symbol}}</div>
                <div class="p-col-2">{{a.operation2}}</div>
                <div class="p-col-2">=</div>
                <div class="p-col-4">
                    <label class="richtig" *ngIf="a.check === 1">{{a.input}}</label>
                    <label class="falsch" *ngIf="a.check === -1">{{a.input}}</label>
                    <input *ngIf="a.check === 0 || !a.check" [(ngModel)]="a.input" type="number" class="input-result">
                </div>
            </div>
        </p-card>

    </div>
</div>

