<p-toast></p-toast>


<div>
    <label style="float: left">
        LISTEN
    </label>
    <button
        style="float: right"
        pButton
        (click)="newListDialogVisible = !newListDialogVisible"
        class="p-button-success"
        icon="pi pi-plus"></button>
    <div style="clear: both"></div>
</div>

<hr>

<div class="p-grid">
      <div *ngIf="!data" class="p-col-12 p-sm-3 list">
          <p-card>
              <p-skeleton width="100%" height="1rem"></p-skeleton>
              <div style="margin-top: 35px;">
                  <p-skeleton [style]="{float:'right'}" width="30%" height="1rem"></p-skeleton>
              </div>
          </p-card>
      </div>
      <div *ngIf="!data" class="p-col-12 p-sm-3 list">
          <p-card>
              <p-skeleton width="100%" height="1rem"></p-skeleton>
              <div style="margin-top: 35px;">
                  <p-skeleton [style]="{float:'right'}" width="30%" height="1rem"></p-skeleton>
              </div>
          </p-card>
      </div>
      <div *ngIf="!data" class="p-col-12 p-sm-3 list">
          <p-card>
              <p-skeleton width="100%" height="1rem"></p-skeleton>
              <div style="margin-top: 35px;">
                  <p-skeleton [style]="{float:'right'}" width="30%" height="1rem"></p-skeleton>
              </div>
          </p-card>
      </div>
      <div *ngIf="!data" class="p-col-12 p-sm-3 list">
          <p-card>
              <p-skeleton width="100%" height="1rem"></p-skeleton>
              <div style="margin-top: 35px;">
                  <p-skeleton [style]="{float:'right'}" width="30%" height="1rem"></p-skeleton>
              </div>
          </p-card>
      </div>


  <div *ngFor="let d of data" (click)="open(d)" class="p-col-12 p-sm-3 list" style="cursor: pointer">
      <p-card (click)="open(d)" >
          <p-header>
              <div style="text-align: left">
                  <i class="fas fa-ellipsis-v"></i>
              </div>
          </p-header>
        <div style="text-align: center">
          <h3>{{d.name}}</h3>
        </div>
          <p-footer>
              <div style="text-align: right">
                  <label>
                      <span class="fa fa-user"></span>
                      {{d.creator}}
                  </label>
              </div>
          </p-footer>
      </p-card>
  </div>

</div>

<p-sidebar
  [(visible)]="newListDialogVisible"
  [fullScreen]="true">

  <app-new-list (reference)="handleNewReference($event)"></app-new-list>

</p-sidebar>
