.list {
  position: relative;
}

.list::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #3cefff;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.list:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

button.action {
    position: fixed;
    right: 55px;
    bottom: 55px;
    font-size: 1.8em;
}


.top-title{
    font-weight: bold;
    font-size: 1.4em;
}

.top-div{
    padding-bottom: 16px;
    border-bottom: 2px solid silver
}
