<div class="store-label">
    <app-store-label [storeId]="model.store.id"></app-store-label>
</div>

<div class="sum">

    <input id="input-sum"
           class="input-sum"
           placeholder="0,00"
           pKeyFilter="money"
           [ngModel]="sum"
           (keyup)="handle($event)"
           type="text"
        >

</div>

<div style="margin-top:15px;">

    <label *ngFor="let i of model.items" style="font-weight: bold; margin-right: 5px;">
        <p-tag [value]="i.item.name"></p-tag>
    </label>

</div>
