


<div *ngIf="fuelData">

    <div class="p-grid">

        <div class="p-col-12 p-sm-4">
            <div><label>E5</label></div>
            <div><label>{{fuelData.cheapestE5.brand}}</label></div>
            <div><label>{{fuelData.cheapestE5.e5}}</label></div>
        </div>

        <div class="p-col-12 p-sm-4">
            <div><label>E10</label></div>
            <div><label>{{fuelData.cheapestE10.brand}}</label></div>
            <div><label>{{fuelData.cheapestE10.e10}}</label></div>
        </div>

        <div class="p-col-12 p-sm-4">
            <div><label>DIESEL</label></div>
            <div><label>{{fuelData.cheapestDiesel.brand}}</label></div>
            <div><label>{{fuelData.cheapestDiesel.diesel}}</label></div>
        </div>

    </div>

</div>


<div style="padding-left: 45px;" >

    <div *ngFor="let d of fuelData?.data?.stations">
        <div style="border-bottom: 2px solid #0c1c2c; font-weight: bold; font-size: 1.4em;">
            <label>{{d.brand}}</label>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-sm-12 p-md-4 p-lg-4">
                <div>
                    <div>
                        <label>E5</label>
                    </div>
                    <div>
                        <label>{{d.e5}}</label>
                    </div>
                </div>

            </div>

            <div class="p-col-12 p-sm-12 p-md-4 p-lg-4">
                <div>
                    <label>E10</label>
                </div>
                <div>
                    <label>{{d.e10}}</label>
                </div>
            </div>

            <div class="p-col-12 p-sm-12 p-md-4 p-lg-4">
                <div>
                    <label>DIESEL</label>
                </div>
                <div>
                    <label>{{d.diesel}}</label>
                </div>
            </div>
        </div>
    </div>


</div>
