<p-card [style]="">
    <div style="text-align: center;">
        <app-store-label [storeId]="storeId"></app-store-label>
        <div style="text-align: right">
            <button pButton
                    [disabled]="true"
                    class="p-button-outlined"
                    style="margin-left: 10px; font-size: 2rem; width: 45px; height: 45px;"
                    class="p-button-error"
                    icon="pi pi-trash"></button>
            <button pButton
                    style="margin-left: 10px; font-size: 2rem; width: 45px; height: 45px;"
                    class="p-button-outlined"
                    [disabled]="true"
                    icon="pi pi-shopping-cart"></button>
            <button pButton
                    style="margin-left: 10px; font-size: 2rem; width: 45px; height: 45px;"
                    [disabled]="true"
                    class="p-button-outlined"
                    icon="mdi mdi-credit-card-check-outline"></button>
        </div>
    </div>
<div style="padding-bottom: 15px; ">

    <div #listElement>
        <div *ngFor="let i of open; index as index" class="item-div">
            <div style="padding-bottom: 5px;"
                 [class.done-swipe]="i.doneSwipe"
                 [class.remove-swipe]="i.removeSwipe"
                 (touchstart)="listHandler.touchstart($event,i)"
                 (touchend)="listHandler.touchend($event,i)"
                 (touchmove)="listHandler.touchmoved($event,i)"
            >



                <label style="position: relative; top: -13px;">
                    <p-checkbox [ngModel]="i.bought" [value]="i.bought"
                                (onChange)="listHandler.itemBought(i)"
                                [style]="{top:'-13px'}" *ngIf="!i.insert" binary="true"></p-checkbox>
                </label>

                <i *ngIf="i.insert" class="pi pi-plus"></i>
                <input
                    [id]="i.identifier"
                    [(ngModel)]="i.name"
                    [class.new-entry-input]="i.insert"
                    [class.exist-entry-input]="!i.insert"
                    style="box-shadow: none"
                    class="new-entry-input"
                    placeholder="LISTENEINTRAG"
                    (keyup)="inputElement.keyListener($event,i,index)"
                    (blur)="inputElement.addItem(i,index)"
                    pInputText
                >
                <label style="position:relative; top:-6px;" *ngIf="!i.insert">
                    <button pButton icon="pi pi-trash"
                            class="p-button-link"></button>
                </label>
            </div>

        </div>
    </div>

    <div #doneElements>
        <div *ngFor="let i of done">
            <div style="padding-bottom: 5px;" >
                <label style="position: relative; top: -13px;">
                    <p-checkbox [ngModel]="i.bought" [value]="i.bought" (onChange)="listHandler.notBought(i)" [style]="{top:'-13px'}" binary="true"></p-checkbox>
                </label>
                <input
                    [id]="i.identifier"
                    [(ngModel)]="i.name"
                    [disabled]="true"
                    style="border:none; outline: none; box-shadow: none; background: none;"
                    placeholder=""
                    pInputText
                >
            </div>

        </div>
    </div>

<div style="clear: both"></div>

</div>

        <div style="text-align: right" [hidden]="true">
            <button pButton
                    style="margin-left: 10px; font-size: 2rem; width: 45px; height: 45px;"
                    class="p-button-outlined"
                    [disabled]="true"
                    icon="pi pi-shopping-cart"></button>
            <button pButton
                    [disabled]="true"
                    style="margin-left: 10px; font-size: 2rem; width: 45px; height: 45px;"
                    class="p-button-outlined"
                    icon="mdi mdi-credit-card-check-outline"></button>
        </div>

</p-card>
