label.devicename{
    font-weight: bold;;
    font-size: 1.4em;
    text-transform: uppercase;
    text-overflow: ellipsis;
}

label.devicename-on{
    color: #1ab394;
}

label.devicename-off{
    color: #C63737;
}

img.title{
    padding: 30px;
    background: #edf3f8;
    width: 130px;
    height: 130px;
    border-radius: 100%;
}

label.title{
    font-size: 2em;
    margin-left: 10px;
}
