.p-chips{
    width: 100% !important;
}

.p-chips-multiple-container {
    width: 100% !important;
}

.full {
    width: 100% !important;
}

.full > * {
    width: 100% !important;
}

.full > span {
    width: 100%;
}

.ng-tns-c101-1 {
    width: 100% !important;
    display: block !important;
}

.p-autocomplete{
    width: 100% !important;
    display: block !important;
}


.ng-tns-c101-1 .p-autocomplete .p-component {
    width: 100% !important;
}


