footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    height: 55px;
    background: snow;
    margin: 0;
    padding: 0;
}

.add-button {
    position: absolute;
    right: 30px;
    bottom: 20px;
    width: 75px;
    height: 75px !important;
    box-sizing: border-box;
    border: 5px solid white;
}
