<div>

    <div class="p-grid">
        <div class="p-col-6" style="text-align: center; font-size: 2em;">
            <div>RICHTIG</div>
            <div class="correct">{{richtig}}</div>
            <div *ngFor="let a of rightAnswers" >
                <p-card>
                    <label>{{a.operation1}} {{a.symbol}} {{a.operation2}} = </label>
                    <label class="wrong" >{{a.input}}</label>
                    <label>&nbsp;</label>
                    <label class="correct" >{{a.result}}</label>
                </p-card>
            </div>

        </div>
        <div class="p-col-6" style="text-align: center; font-size: 2em;">
            <div>FALSCH</div>
            <div class="wrong">{{falsch}}</div>

            <div *ngFor="let a of wrongAnswers" >
                <p-card>
                    <label>{{a.operation1}} {{a.symbol}} {{a.operation2}} = </label>
                    <label class="wrong" >{{a.input}}</label>
                    <label>&nbsp;</label>
                    <label class="correct" >{{a.result}}</label>

                    <div *ngIf="a.split">
                        <div *ngFor="let t of a.split">
                            <label>{{t.operator1}}</label>
                            <label> {{t.symbol}} </label>
                            <label>{{t.operator2}}</label>
                            <label> = </label>
                            <label> {{t.result}} </label>
                        </div>
                    </div>

                </p-card>
            </div>

        </div>

    </div>



</div>
