<div class="">
    <p-card>
        <div style="margin: 5px; border-bottom: 2px solid #3d71c8; color: #0D47A1; text-transform: uppercase; font-weight: bold; font-size: 1.2em" >
            <label *ngIf="list">{{list?.list?.name}}</label>
            <div style="padding: 5px; padding-bottom: 15px;">
                <p-skeleton *ngIf="!list" width="100%" height="1rem"></p-skeleton>
            </div>
        </div>
        <p-footer>
            <div class="task-bar" *ngIf="input_step < 100" style="text-align: right">
                <button pButton
                        [disabled]="!list"
                        class="p-button-secondary"
                        (click)="back()"
                        icon="pi pi-arrow-left"></button>

                <button pButton
                        *ngIf="!newItemView"
                        [disabled]="!list"
                        (click)="newItemView = !newItemView"
                        class="p-button-success"
                        icon="pi pi-plus"></button>
                <button pButton
                        *ngIf="newItemView"
                        [disabled]="!list"
                        (click)="newItemView = !newItemView"
                        class="p-button-danger"
                        icon="pi pi-minus"></button>

                <button pButton
                        [disabled]="!list"
                        icon="pi pi-shopping-cart"></button>
                <button pButton
                        [disabled]="!list"
                        (click)="load()"
                        icon="pi pi-undo"></button>
            </div>

            <div *ngIf=" input_step === 201">
                <app-add-item type="inline"></app-add-item>
            </div>
        </p-footer>
    </p-card>
</div>

<div class="p-grid" *ngIf="!list">

    <div class="p-col-12 p-sm-6 p-md-4 p-lg-3">
        <div style="padding: 5px;">
            <p-card>
                <div style="text-align: center; font-weight: bold; font-size: 1.3em; text-transform: uppercase">
                    <p-skeleton width="100%"></p-skeleton>
                </div>
                <div class="p-grid" *ngIf="false">
                    <div class="p-col-6"></div>
                    <div class="p-col-6">
                        <button pButton
                                [disabled]="true"
                                icon="pi pi-plus"></button>
                        <button pButton
                                [disabled]="true"
                                icon="pi pi-minus"></button>
                    </div>
                </div>
                <p-footer>
                    <div style="text-align: right">
                        <button pButton
                                [disabled]="true"
                                style="margin-left: 8px"
                                icon="pi pi-shopping-cart"></button>
                        <button pButton
                                class="ui-button-danger"
                                [disabled]="true"
                                style="margin-left: 8px"
                                icon="pi pi-trash"></button>
                    </div>
                </p-footer>
            </p-card>
        </div>
    </div>
    <div class="p-col-12 p-sm-6 p-md-4 p-lg-3">
        <div style="padding: 5px;">
            <p-card>
                <div style="text-align: center; font-weight: bold; font-size: 1.3em; text-transform: uppercase">
                    <p-skeleton width="100%"></p-skeleton>
                </div>
                <div class="p-grid" *ngIf="false">
                    <div class="p-col-6"></div>
                    <div class="p-col-6">
                        <button pButton
                                [disabled]="true"
                                icon="pi pi-plus"></button>
                        <button pButton
                                [disabled]="true"
                                icon="pi pi-minus"></button>
                    </div>
                </div>
                <p-footer>
                    <div style="text-align: right">
                        <button pButton
                                [disabled]="true"
                                style="margin-left: 8px"
                                icon="pi pi-shopping-cart"></button>
                        <button pButton
                                class="ui-button-danger"
                                [disabled]="true"
                                style="margin-left: 8px"
                                icon="pi pi-trash"></button>
                    </div>
                </p-footer>
            </p-card>
        </div>
    </div>
    <div class="p-col-12 p-sm-6 p-md-4 p-lg-3">
        <div style="padding: 5px;">
            <p-card>
                <div style="text-align: center; font-weight: bold; font-size: 1.3em; text-transform: uppercase">
                    <p-skeleton width="100%"></p-skeleton>
                </div>
                <div class="p-grid" *ngIf="false">
                    <div class="p-col-6"></div>
                    <div class="p-col-6">
                        <button pButton
                                [disabled]="true"
                                icon="pi pi-plus"></button>
                        <button pButton
                                [disabled]="true"
                                icon="pi pi-minus"></button>
                    </div>
                </div>
                <p-footer>
                    <div style="text-align: right">
                        <button pButton
                                [disabled]="true"
                                style="margin-left: 8px"
                                icon="pi pi-shopping-cart"></button>
                        <button pButton
                                class="ui-button-danger"
                                [disabled]="true"
                                style="margin-left: 8px"
                                icon="pi pi-trash"></button>
                    </div>
                </p-footer>
            </p-card>
        </div>
    </div>
    <div class="p-col-12 p-sm-6 p-md-4 p-lg-3">
        <div style="padding: 5px;">
            <p-card>
                <div style="text-align: center; font-weight: bold; font-size: 1.3em; text-transform: uppercase">
                    <p-skeleton width="100%"></p-skeleton>
                </div>
                <div class="p-grid" *ngIf="false">
                    <div class="p-col-6"></div>
                    <div class="p-col-6">
                        <button pButton
                                [disabled]="true"
                                icon="pi pi-plus"></button>
                        <button pButton
                                [disabled]="true"
                                icon="pi pi-minus"></button>
                    </div>
                </div>
                <p-footer>
                    <div style="text-align: right">
                        <button pButton
                                [disabled]="true"
                                style="margin-left: 8px"
                                icon="pi pi-shopping-cart"></button>
                        <button pButton
                                class="ui-button-danger"
                                [disabled]="true"
                                style="margin-left: 8px"
                                icon="pi pi-trash"></button>
                    </div>
                </p-footer>
            </p-card>
        </div>
    </div>

</div>


<div class="p-grid">

    <div *ngIf="!newItemView" class="p-col-12">
        <div *ngIf="list" class="p-grid">

            <div *ngFor="let i of list.list.items" class="p-col-12 p-sm-6 p-md-4 p-lg-3">
                <div style="padding: 5px;" *ngIf="!i.hidden">
                    <p-card>
                        <p-header>
                        </p-header>

                        <div style="text-align: center; font-weight: bold; font-size: 1.3em; text-transform: uppercase">
                            <label>{{i.name}}</label>
                        </div>

                        <div class="p-grid" *ngIf="false">
                            <div class="p-col-6"></div>
                            <div class="p-col-6">
                                <button pButton
                                        icon="pi pi-plus"></button>
                                <button pButton
                                        icon="pi pi-minus"></button>
                            </div>
                        </div>

                        <p-footer>
                            <div style="text-align: right">
                                <button pButton
                                        (click)="bought(i)"
                                        style="margin-left: 8px"
                                        icon="pi pi-shopping-cart"></button>
                                <button pButton
                                        class="ui-button-danger"
                                        (click)="removeItem( i )"
                                        style="margin-left: 8px"
                                        icon="pi pi-trash"></button>
                            </div>
                        </p-footer>
                    </p-card>
                </div>

            </div>

        </div>
    </div>

    <div *ngIf="newItemView" class="d-none d-md-block p-xl-9 p-lg-9 p-md-6 ">
        <div *ngIf="newItemView" class="" >
            <div *ngIf="list" class="p-grid">

                <div *ngFor="let i of list.list.items" class="p-col-12 p-sm-6 p-md-4 p-lg-3">
                    <div style="padding: 5px;" *ngIf="!i.hidden">
                        <p-card>
                            <p-header>
                            </p-header>

                            <div style="text-align: center; font-weight: bold; font-size: 1.3em; text-transform: uppercase">
                                <label>{{i.name}}</label>
                            </div>

                            <div class="p-grid" *ngIf="false">
                                <div class="p-col-6"></div>
                                <div class="p-col-6">
                                    <button pButton
                                            icon="pi pi-plus"></button>
                                    <button pButton
                                            icon="pi pi-minus"></button>
                                </div>
                            </div>

                            <p-footer>
                                <div style="text-align: right">
                                    <button pButton
                                            (click)="bought(i)"
                                            style="margin-left: 8px"
                                            icon="pi pi-shopping-cart"></button>
                                    <button pButton
                                            class="ui-button-danger"
                                            (click)="removeItem( i )"
                                            style="margin-left: 8px"
                                            icon="pi pi-trash"></button>
                                </div>
                            </p-footer>
                        </p-card>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div *ngIf="newItemView" class="p-xl-3 p-lg-3 p-md-6 p-sm-12" >
        <div *ngIf="newItemView" style="padding: 5px;">
            <p-card>
                <p-header>
                    <div style="padding: 8px; font-weight: bold; font-size: 1.3em;">
                        NEUES ITEM ANLEGEN
                    </div>
                </p-header>
                <div style="margin-top: 5px; margin-bottom: 5px;">
                </div>
                <app-add-item type="inline" [reference]="reference" ></app-add-item>
            </p-card>
        </div>
    </div>
</div>


